<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
    <div class="row">
      <table class="table">
        <tr>
          <th>Rating</th>
          <th>Description</th>
          <th>By</th>
          <th>Action</th>
        </tr>
        <% @review.each do |rate| %>
          <tr>
            <td><%= rate.rating %></td>
            <td><%= rate.description %></td>
            <td><%= rate.user_id %></td>
            <td></td>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="row">
        <%= form_tag "/products/#{@product.id}/reviews" do %>
          <div class="form-group">
            Review: <%= select_tag(:rating, options_for_select([1, 2, 3, 4, 5])) %>
          </div>
          <div class="form-group">
            Description: <%= text_area_tag :description, "", class: 'form-control' %>
          </div>

          <%= submit_tag "Submit", class: 'btn btn-primary' %>

        <% end %>
    </div>

  </article>

</section>
